<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Order information</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Order information</h1>
    <p th:text="'id: ' + ${order.id}" />
    <p th:text="'Order: ' + ${order.orderString}" />
    <p th:text="'Address: ' + ${order.address}" />
    <p th:text="'State: ' + ${order.state}" />
    
    <form action="/orderadd">
    	<input type="submit" value="Submit another Order" />
	</form>
    
</body>
</html>