<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Groovy delivery - All orders</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
		#orderscss {
		  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
		  border-collapse: collapse;
		  width: 100%;
		}
		
		#orderscss td, #orderscss th {
		  border: 1px solid #ddd;
		  padding: 8px;
		}
		
		#orderscss tr:nth-child(even){background-color: #f2f2f2;}
		
		#orderscss tr:hover {background-color: #ddd;}
		
		#orderscss th {
		  padding-top: 12px;
		  padding-bottom: 12px;
		  text-align: left;
		  background-color: #4CAF50;
		  color: white;
		}
	</style>
</head>
<body>
	<h1> Groovy delivery - All orders </h1>
	<table id="orderscss">
		<tr>
			<th> ID </th>
			<th> Order </th>
			<th> Address </th>
			<th> Order State </th>
		</tr>
		<tr th:each="order: ${orders}">
			<td th:text="${order.id}" />
			<td th:text="${order.orderString}" />
			<td th:text="${order.address}" />
			<td th:text="${order.state}" />
		</tr>
	</table>

    <a href="/orderadd">Place another Order</a>
</body>
</html>